.logo {
    font-size: 24px;
    font-weight: bold;
}
header {
    background-color: #1f1f1f; /* Темный фон хедера */
    color: #ffffff; /* Цвет текста */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px; /* Отступ между элементами меню */
}

nav ul li a {
    color: #ffffff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

nav ul li a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}
