.hero {
    background-image: url('https://img.freepik.com/premium-photo/coronation-blue-shiny-glowing-effects-abstract-background-design_851755-183603.jpg?semt=ais_hybrid'); /* Замените на свой фон */
    background-size: cover; /* Масштабирование фона */
    color: white;
    text-align: center;
    padding: 100px 20px; /* Отступы сверху и снизу */
}

.cta-button {
    background-color: #bb86fc; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px;
    cursor: pointer; /* Курсор при наведении */
}

.cta-button:hover {
    background-color: #9b59b6; /* Цвет кнопки при наведении */
}
