.hero {
    background-image: url('https://media.discordapp.net/attachments/1155245814273282149/1322683702270103585/gortenziia_tsvety_lepestki_1346093_4238x2815.png?ex=6771c4b0&is=67707330&hm=12ba15d8994a23874890eb30a3b515352271f7f18ec9e10cd044a90fe1e746fd&=&format=webp&quality=lossless&width=1009&height=671'); /* Замените на свой фон */
    background-size: cover; /* Масштабирование фона */
    color: white;
    text-align: center;
    padding: 100px 20px; /* Отступы сверху и снизу */
}

.cta-button {
    background-color: #bb86fc; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    padding: 10px 20px; /* Отступы внутри кнопки */
    font-size: 16px;
    cursor: pointer; /* Курсор при наведении */
}

.cta-button:hover {
    background-color: #9b59b6; /* Цвет кнопки при наведении */
}
